#body {
    height: 100%;
    width: 99%;
    margin: 0px;
}

#headlinebox {
    text-align: center;
    background-color: lightblue;
    width:100.7%;
    border-style:dashed;
}

#headline { 
    font-size:xx-large;

}

#tabsP {
    position: relative;
    transform: scale(0.08);
    top: 2px;
    left: 1220px;
    margin: -300px;
}

.tabsbox {
    width: 55px;
    height: 170px;
    background-color: gray;
    position: absolute;
    left: 1148px;
    top: 70px;
    opacity: .9;
    display: none;
    list-style: none;
    z-index: 10;
}

#clockp {
    transform: scale(2.3);
    position: absolute;
    left: 19px;
    top: 30px;
}

#quizp {
    transform: scale(2.3);
    position: absolute;
    left: 23px;
    top: 80px;
}

#todop {
    transform: scale(2.3);
    position: absolute;
    left: 20px;
    top: 130px;
}

.clock{
    font-size: 50px;
    text-align: center;
    margin: 10px auto;
    color: black;
    font-family: Arial,;
    background: wheat;
    width: 600px;
}

.clock span {
    padding: 30px;

}

.date {
    font-size: 40px;
    text-align: center;
    margin: 10px auto;
    color: black;
    font-family: Arial,;
    background: wheat;
    width: 400px;
    
}

.date span {
    padding: 30px;
}